# Ignore target directory
target/

# Ignore logs
logs/

# Ignore IntelliJ IDEA project files
.idea/

# Others
*.ini
/docker-run-filtered.ps1
/dump-project.ps1

allure-results/
allure-report/
/blueprints/

# Allure local install
.allure/

# Intellij classpath file
/classpath.txt
