<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="log-name">testRun-${date:yyyy-MM-dd_HH-mm-ss}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/${log-name}.log"
                     filePattern="${log-path}/testRun-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %5p [%t] %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p [%t] %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="tests" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="base" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="implementation" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="utils" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="pages" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>